{% extends 'short_link/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Токен{% endblock %}
{% block content %}
<h3>Примеры работы</h3>
<h4>Пример1(Ссылка появится в списке ваших ссылок):</h4>
<div style="width:75%;height:25%;line-height:3em; overflow-x:scroll; overflow-y: scroll;padding:5px;">
<code style="white-space: nowrap" class="python keyword">import requests</code>
<code style="white-space: nowrap" class="python keyword">response = requests.post('http://shortlinks.pythonanywhere.com/api/auth_url_api', headers={'Authorization': 'Token ' + #yourToken#}, data={'url_for_shorting': '#yourUrl#'})</code>
<code style="white-space: nowrap" class="python keyword">response_json = response_api.json()</code>
<code style="white-space: nowrap" class="python keyword">print(response_json["short_link"])</code>
</div>
<br>
<br>
<h4>Пример2(Ссылка не появится в списке ваших ссылок):</h4>
<div style="width:75%;height:25%;line-height:3em; overflow-x:scroll; overflow-y: scroll;padding:5px;">
<code style="white-space: nowrap" class="python keyword">import requests</code>
<code style="white-space: nowrap" class="python keyword">response= requests.post('http://shortlinks.pythonanywhere.com/api/url_api', headers={'Authorization': 'Token ' + '#yourToken#'}, data={'url_for_shorting': '#yourUrl#'})</code>
<code style="white-space: nowrap" class="python keyword">response_json = response.json()</code>
<code style="white-space: nowrap" class="python keyword">print(response_json["short_link"])</code>
</div>
<hr>
    {% if token %}
        {% for toke in token %}
            Ваш токен - <a href="#">{{ toke }}</a>
        {% endfor %}
    {% else %}
    <a href="{% url 'short_link:token_create'%}" class="btn btn-outline-dark my-2 my-sm-0">Сгенерировать токен</a>
    {% endif %}

{% endblock %}